@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* CONFIG POPUP DOAÇÃO */
a {
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #cfe1fd;
    overflow: hidden;
    z-index: 2;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    animation: slideUp 0.5s ease-out forwards;
}

.logo-popup {
    border-radius: 10px;
}

.header-popup {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}

.header-popup h1 {
    color: #252E48;
    font-size: 1.3em;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;

}

.header-popup-dica {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #252E48;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
}

.lembrete {
    text-align: center;
    color: #999;
}

.fechar-popup i {
    font-size: 30px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

.popup-content {
    padding: 20px;
}

.close-button {
    font-weight: 500;
    width: 100%;
    height: 40px;
    background: #f1f1f1;
    color: #828282;
    border: 1px dashed #ddd;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #ffffff;
}

.qrcode {
    margin: 15px 0px;
}


/* BOTOES DA CHAVE */
.btn {
    margin: 15px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.key1 {
    padding: 10px 20px;
    background: #24c091;
    border: 1px solid #cfe1fd;
    color: #fff;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 1px 0 #1C936F;
    box-shadow: 0 3px #1C936F;
    border-bottom: 1px solid #FFF;
}

.key2 {
    padding: 10px 20px;
    background: orange;
    border: none;
    color: #FFF;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 0 1px 0 #D28900;
    box-shadow: 0 3px #D28900;
    border-bottom: 1px solid #FFF;
}

input {
    display: none;
}

.chave {
    display: none;
}

/* Adicione as classes CSS para personalizar o estilo do SweetAlert */
.swal2-content {
    padding: 0 !important;
}

.swal-title-custom {
    color: #252E48 !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

.swal-text-custom {
    font-weight: 500 !important;
    font-size: 1.4em !important;
    color: #252E48 !important;
}

/*anime icon*/
.swal2-header {
    padding: 0 !important;
}

.swal2-success-line-tip {
    background: orange !important;
}

.swal2-success-line-long {
    background: orange !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
    position: absolute;
    z-index: 2;
    top: -0.25em;
    left: -0.25em;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 0.25em solid orange !important;
    border-radius: 50%;
}

/* BOTAO DO CONFIRM SWAL */
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #252E48 !important;
    color: #fff;
    font-size: 1em;
}