*{
	margin:0;
	padding:0
}
body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.banner{

	max-width: 440px;
	background: #080A18;
	position: fixed;
	bottom: 0;
	margin-bottom:20px;
	border: none;
	border-radius: 10px;
	display: none;
	margin-left: 20px;
	margin-right: 20px;
}
.header-banner{
	color: #080a18;
	font-weight: 600;
	background: #00FFBF;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.close-banner {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 1.2em;
	cursor: pointer;
	color:#050505;
}
.aviso-banner{
	background: #080A18;
	color: #fff;
	
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	padding: 10px 5px 10px 0px;

}
.logo-banner img{
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 7px;
}
.btn-banner{
	/*background: #007fff;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 5px;
}
.btn-banner a{
	text-decoration: none;
	color: #00ffbf;
}